<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-post">
    Bài viết mới
</a>
<form action="/search" method="post">
    <input name="title" type="text">
    <button>Search</button>
</form>
<form action="/sort" method="post">
    <button>Sort</button>
</form>
<form action="/lastest" method="post">
    <button>Lastest</button>
</form>
<div th:if="${postList!= null}">
    <div th:each="pt : ${postList}">
        <span th:text="${pt.title}"></span>
        <span th:text="${pt.content}"></span>
        <span th:text="${pt.likes}"></span>
    </div>
</div>
<div th:if="${postList == null}">
    <div th:each="pt : ${posts}">
        <span th:text="${pt.title}"></span>
        <span th:text="${pt.content}"></span>
        <span th:text="${pt.likes}"></span>
        <a th:href="@{/edit/__${pt.id}__}">Sửa</a>
    </div>
</div>
</body>
</html>